/* make canvas full screen */
body, html {
  overflow: hidden;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#canvasesDiv {
  position: relative;
}

#gameCanvas1 {
  position:absolute;
  z-index: 1;
}

#gameCanvas2 {
  position:absolute;
  z-index: 2;
}

#colorPalette {
  position: absolute;
  z-index: 3;
  left: 40px;
}

#currentPaintColor {
  position: absolute;
  z-index: 3;
  left: 0;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #363F45;
}

#instruction {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 0;

  width: 300px;
  height: 190px;

}

div div {
  text-align: center;

  font-family: Helvetica;
}

#gameTitle {
  font-size: 20px;
  font-weight: 600;
}

.moveButton {
  padding-left: 100px;

  text-align: left;
}

#showHideButton {
  position: absolute;
  z-index: 3;
  right: 0;

  width: 30px;
  height: 30px;
}

/* color brush icon */
#brush {
  margin-top: 10px;

  color: white;
}

/* color car icon */
.fa-car {
  color: #EF5A42;
}